<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Recipes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>Recipes</h1>
    <ul>
        {% for title in recipy_titles %}
        <li>{{ title }}</li>
        {% endfor %}
    </ul>
    <form action="/recipy" method="post" target="_self">
        <label for="title">Title</label>
        <input type="text" name="title" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>